.header{
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--color-text-primar);
  background-color: var(--color-primary);

}
